<!-- <div class="contenedorProyectos container">
    <div class="row my-auto px-4 d-flex">
      <!-- <div class="proyectos-section"> -->
        <!-- <h3 class="pt-3">Proyectos</h3>
        <div class="row d-flex">
            <div class="col-12">
                <div class="main-timeline">
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa-solid fa-globe"></i></div>
                            <div class="timeline-content">
                                <h3 class="title">Mi primer Porfolio Web</h3>
                                <P class="description"><span class="text-muted h6">
                                Argentina Programa - #YoProgramo
                                </span>
                                <time>2022</time>
                                </P>
                            </div>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div> -->
<!-- </div> -->

<div class="contenedorProyectos container">
    <div class="tabla my-auto px-4">
        <h3 class="pt-3">Proyectos</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <a href="#" class="timeline">
                    <div class="timeline-icon"><i class="fa-solid fa-globe"></i></div>
                    <div class="timeline-content">
                        <h3 class="title">Mi primer Porfolio Web</h3>
                        <p class="description ">
                            2022 - Desarrollo de una aplicación web full stack para Argentina programa #YoProgramo, que muestre el propio portfolio web a traves de una aplicación de arquitectura distribuida.
                            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ducimus officiis quod! Aperiam eveniet nam nostrum odit quasi ullam voluptatum. -->
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
                
