.contenedorAcercaDe {
    background-color:transparent;
    display: flex;
    border-radius: 10px!important;
    border-color: rgb(122, 139, 156);
    border-width: 2px;
    border-style: solid;
    min-height: 210px;
    margin-top: 5px;
}

p {
    text-align: justify;
}

li {
    list-style-type:none
}