<div class="contenedorDatosPersonales container">
  <div class="row my-auto px-4 d-flex ">
    <div class="col-6">
      <p>
        Hola, soy Fedra Plos, una persona con ganas de trabajar, proactiva,
        responsable, flexible, orientada al logro de resultados.
      </p>
    </div>
    <div class="col-6 d-flex align-items-stretch">
      <div class="row">
        <div class="col-4 text-end"><i class="fa-solid fa-at"></i></div>
        <div class="col-8 text-start">fedra.plos@gmail.com</div>
        <div class="col-4 text-end"><i class="fa-solid fa-location-dot"></i></div>
        <div class="col-8 text-start">Carabelas N 2156, Avellaneda, Buenos Aires</div>
        <div class="col-4 text-end"><i class="fa-brands fa-whatsapp"></i></div>
        <div class="col-8 text-start">+54 9 11 5927 6353</div>
    </div>
  </div>
  </div>
</div>
