<div class="contenedorEducacion container">
  <div class="row my-auto px-4 d-flex">
    <div class="education-section">
      <h3 class="pt-3">Educación</h3>
      <div class="timeline">
        <li class="listaCursos" *ngFor="let educacion of educacionList">
        <div class="timeline-card timeline-card-success card shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <img
                  class="card-img"
                  [src]="educacion.img"
                  alt={{educacion.altImg}}
                />
              </div>
              <div class="col-9 d-flex">
                <div class="row">
                  <div class="col-12">
                    <div class="h5 mb-1">{{educacion.carrera}}</div>
                  </div>
                  <div class="col-12">
                    <span class="text-muted h6">
                      {{educacion.establecimiento}}
                    </span>
                  </div>
                  <div class="col-12">
                    <div class="text-muted text-small mt-2 mb-2">
                      <time>{{educacion.periodo}}</time>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="text-muted text-small mt-2 mb-2">
                      <ul *ngFor="let cursos of educacion.cursos">
                        <li>{{cursos}}</li> 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
        <!-- <div class="timeline-card timeline-card-success card shadow-sm">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <img
                  class="card-img d-block"
                  [src]="miPortfolio.educacion[1].img"
                  width="70px"
                  height="70px"
                  alt="logo UNTREF"
                />
              </div>
              <div class="col-8 d-flex">
                <div class="row">
                  <div class="col-12">
                    <div class="h5 mb-1">
                      {{miPortfolio.educacion[1].carrera}}
                    </div>
                    <div class="col-12">
                      <span class="text-muted h6"
                        >{{miPortfolio.educacion[1].establecimiento}}</span>
                    </div>
                    <div class="col-12">
                        <div class="text-muted text-small mt-2 mb-2">
                        <time>{{miPortfolio.educacion[1].periodo}}</time>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img
                            class="card-img d-block"
                            [src]="miPortfolio.educacion[2].img"
                            alt="logo UTN"
                            width="70px"
                            height="70px"
                        />
                    </div>
                    <div class="col-8 d-flex">
                        <div class="row">
                            <div class="col-12">
                              <div class="h5 mb-1">{{miPortfolio.educacion[2].carrera}}</div>
                            </div>
                            <div class="col-12">
                              <span class="text-muted h6">
                                {{miPortfolio.educacion[2].establecimiento}}
                              </span>
                            </div>
                            <div class="col-12">
                              <div class="text-muted text-small mt-2 mb-2">
                                <time>{{miPortfolio.educacion[2].periodo}}</time>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="timeline-card timeline-card-success card shadow-sm">
          <div class="card-body">
              <div class="row">
                  <div class="col-4">
                      <img
                          class="card-img d-block"
                          [src]="miPortfolio.educacion[3].img"
                          alt="logo IRAM"
                          width="70px"
                          height="70px"
                      />
                  </div>
                  <div class="col-8 d-flex">
                      <div class="row">
                          <div class="col-12">
                            <div class="h5 mb-1">{{miPortfolio.educacion[3].carrera}}</div>
                          </div>
                          <div class="col-12">
                            <span class="text-muted h6">
                              {{miPortfolio.educacion[3].establecimiento}}
                            </span>
                          </div>
                          <div class="col-12">
                            <div class="text-muted text-small mt-2 mb-2">
                              <ul>
                                <li>{{miPortfolio.educacion[3].cursos[0]}}</li> 
                                <li>{{miPortfolio.educacion[3].cursos[1]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[2]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[3]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[4]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[5]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[6]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[7]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[8]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[9]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[10]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[11]}}</li>
                                <li>{{miPortfolio.educacion[3].cursos[12]}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                  </div> -->
              </div>
          </div>
    </div>
</div>
