# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
FrontEnd/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
FrontEnd/.vscode/*
FrontEnd/!.vscode/settings.json
FrontEnd/!.vscode/tasks.json
FrontEnd/!.vscode/launch.json
FrontEnd/!.vscode/extensions.json
FrontEnd/.history/*

# misc
FrontEnd/.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


# BackEnd
BackEnd/HELP.md
BackEnd/target/
BackEnd/!.mvn/wrapper/maven-wrapper.jar
BackEnd/!**/src/main/**/target/
BackEnd/!**/src/test/**/target/

### STS ###
BackEnd/.apt_generated
BackEnd/.classpath
BackEnd/.factorypath
BackEnd/.project
BackEnd/.settings
BackEnd/.springBeans
BackEnd/.sts4-cache

### IntelliJ IDEA ###
BackEnd/.idea
BackEnd/*.iws
BackEnd/*.iml
BackEnd/*.ipr

### NetBeans ###
BackEnd/nbproject/private/
BackEnd/nbbuild/
BackEnd/dist/
BackEnd/nbdist/
BackEnd/.nb-gradle/
BackEnd/build/
BackEnd/!**/src/main/**/build/
BackEnd/!**/src/test/**/build/

### VS Code ###
BackEnd/.vscode/
