<div class="contenedorExperiencia container">
  <div class="row my-auto px-4 d-flex">
    <div class="work-experience-section">
      <h3 class="pt-3">Experiencia Laboral</h3>
      <div class="timeline">
        <div class="timeline-card timeline-card-primary card shadow-sm">
          <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <img
                  class="card-img-left"
                  src="https://www.aysa.com.ar/media-library/imagenes_inicio/logo.png"
                  alt="logo AySA"
                    />
                </div>
                <div class="col-9 d-flex">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 mb-1">Jefa del Departamento de Calidad e Información</div>
                        </div>
                        <div class="col-12">
                            <span class="text-muted h6"> en Agua y Saneamientos Argentinos SA </span>
                        </div>
                        <div class="col-12">
                            <div class="text-muted text-small mt-2 mb-2">
                            <time>Octubre 2017 - Actualidad</time>
                        </div>
                    </div>
                <p>
                  Responsable de implementación, certificación y mantenimiento
                  del Sistema de Gestión de la Calidad bajo la Norma ISO
                  9001:2015.
                  <br />
                  Coordinación y seguimiento del Comité de Calidad;
                  administración del sistema informático Loyal para la
                  elaboración, publicación, control y gestión de los documentos
                  del Sistema.<br />
                  Confección y seguimiento de Tableros de Control e Indicadores,
                  elaboración de informes de estado de situación para la
                  Dirección General.<br />
                  Coordinación general del Programa de Proyectos de la
                  Dirección.<br />
                  Gestión y control del almacenamiento de la información de los
                  proyectos según los lineamientos de la dirección en las
                  herramientas disponibles.
                </p>
            </div>
        </div>
      </div>
     </div>
    </div>
        <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                    <img
                      class="card-img-left"
                      src="https://www.aysa.com.ar/media-library/imagenes_inicio/logo.png"
                      alt="logo AySA"
                    />
                    </div>
                    <div class="col-9 d-flex">
                        <div class="row">
                            <div class="col-12">
                                <div class="h5 mb-1">Coordinadora de Gestión de Proyectos y Aseguramiento de la Calidad</div>
                            <div class="col-12">
                                <span class="text-muted h6">en Agua y Saneamientos Argentinos SA</span>
                            </div>
                            <div class="col-12"></div>
                                <div class="text-muted text-small mt-2 mb-2">
                                <time>Febrero 2012 - Octubre 2017</time>
                                </div>
                            </div>
              <p>
                Integrante del equipo responsable de la implementación y
                certificación de la Norma de Sistemas de Gestión de la Calidad
                ISO 9001:2008 <br />
                Seguimiento del Programa de Proyectos de la Dirección, Tableros
                de Control e Indicadores.<br />
                Creación y administración de cronogramas de proyectos utilizando
                la herramienta MSProject<br />
                Gestión y control del almacenamiento de la información de los
                proyectos y los documentos del sistema de gestión según los
                lineamientos de la dirección en las herramientas disponibles..
              </p>
            </div>
          </div>
     
   
   
