.contenedorEditarExpe {
    background-color:transparent;
    display: flex;
    border-radius: 10px!important;
    border-color: rgb(122, 139, 156);
    border-width: 2px;
    border-style: solid;
    min-height: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 1000px;
}

.form-group {
    min-width: 925px;
}