<div class="contenedorExperiencia container">
  <div class="row my-auto px-4 d-flex">
    <div class="work-experience-section">
      <div class="icon-plus">
        <h3 class="pt-3">Experiencia Laboral</h3>
        <a class="nav-link" href="/nueva-experiencia" *ngIf="isLogged" title="Agregar"
          ><i
            class="icon-plus fa-solid fa-circle-plus"
            style="color: #3e4a5e"
          ></i
        ></a>
      </div>
      <div class="timeline">
        <li *ngFor="let experiencia of experienciaList">
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <img
                    class="card-img-left"
                    [src]="experiencia.urlLogo"
                    alt="{{experiencia.altLogo}}"
                  />
                </div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-12">
                      <div class="experiencia">
                        <div class="h5 mb-1">{{experiencia.puesto}}</div>
                        <div class="icon text-end">
                          <a class="nav-link" href="/editar-experiencia/{{experiencia.idExpe}}" *ngIf="isLogged" title="Editar"
                            ><i
                              class="fa-solid fa-pen"
                              style="color: #3e4a5e"
                            ></i
                          ></a>
                          <a class="nav-link" href="#" *ngIf="isLogged" (click)= "borrar(experiencia.idExpe)" title="Borrar"
                            ><i
                              class="fa-solid fa-trash-can"
                              style="color: #3e4a5e"
                            ></i
                          ></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <span class="text-muted h6">
                        {{experiencia.empresa}}
                      </span>
                    </div>
                    <div class="col-12">
                      <div class="text-muted text-small mt-2 mb-2">
                        <time>{{experiencia.periodo}}</time>
                      </div>
                    </div>
                    <!-- <p *ngFor="let descripcion of descripcionList">
                      {{descripcion}}
                      <br />
                    </p> -->
                    <p>
                      {{experiencia.descripcion}}
                      <br />
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
