.contenedorExperiencia {
    background-color:transparent;
    display: flex;
    border-radius: 10px!important;
    border-color: rgb(122, 139, 156);
    border-width: 2px;
    border-style: solid;
    height: 100%;
    margin-top: 5px;
    align-items: center;
}

p {
    text-align: justify;
}

.timeline {
    border-left: 2px solid #E6E9ED;
    padding: 1rem 0; 
}

.timeline-card {
    position: relative;
    margin-left: 33px;
    border-left: 2px solid;
    margin-bottom: 2rem;
 }

 .timeline-card-primary {
    border-left-color: #4A89DC;
 }

 li {
    list-style-type:none
}

.icon {
    display: flex;
    justify-content:last baseline;
    align-items:center;
    margin-right: 10px;
    vertical-align: middle;
    
  }

  .icon-plus {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
  }

  .experiencia {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

  .work-experience-section{
    align-items: center;
    vertical-align: middle;
  }


