<div class="contenedorNuevaExpe container">
    <div class="row my-auto px-4 d-flex">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f=""ngForm>
                <div class="mb-3 mt-3">
                <div class="form-group">
                    <label for= "puesto">Puesto</label>
                    <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="puesto" required>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-group">
                    <label for= "descripcion">Descripción de la tarea</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-group">
                    <label for= "periodo">Período de trabajo</label>
                    <input type="text" class="form-control" id="periodo" name="periodo" [(ngModel)]="periodo" required>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-group">
                    <label for= "empresa">Empresa</label>
                    <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel)]="empresa" required>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-group">
                    <label for= "urlLogo">URL Logo Empresa</label>
                    <input type="text" class="form-control" id="urlLogo" name="urlLogo" [(ngModel)]="urlLogo" required>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-group">
                    <label for= "altLogo">Alternativa Logo Empresa</label>
                    <input type="text" class="form-control" id="altLogo" name="altLogo" [(ngModel)]="altLogo" required>
                </div>
                </div>
                <div class="mb-3">
                <button class="btn btn-secondary"> Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
