<footer class="pt-4 pb-4 text-muted text-center">
    <div class="container">
        <div class="my-1">
            <div class="h4">{{unaRed.persona.nombre}} {{unaRed.persona.apellido}}</div>
            <div class="footer-nav">
              <nav role="navigation">
                <ul class="nav justify-content-center">
                    <li class="nav-item" *ngFor="let redes of redesList">
                      <a class="nav-link" href={{redes.urlRedS}} title={{redes.nombre}}><i class={{redes.icono}}></i><span class="menu-title sr-only">{{redes.nombre}}</span></a>
                    <!-- </li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/FedraP/" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/templateflip" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a> -->
                    </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="text-small">
            <div class="mb-1">&copy; Right Resume. All rights reserved.</div>
            <div>2022</div>
          </div>
        </div>
</footer>