<div class="contenedorEditarEncabezado container" *ngIf = "persona">
    <div class="row my-auto px-4 d-flex">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="mb-3 mt-3">
                <div class="form-group">
                    <label for= "nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-group">
                    <label for= "apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-group">
                    <label for= "titulo">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="persona.titulo" required>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-group">
                    <label for= "urlAvatar">Foto ávatar</label>
                    <input type="text" class="form-control" id="urlAvatar" name="urlAvatar" [(ngModel)]="persona.urlAvatar"  required>
                    <input type="file" accept =".png, .jpg, .jpeg" multiple (change)="subirImagenAvatar($event)">
                    
                </div>
                
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for= "urlFondo">URL Foto de fondo</label>
                        <input type="text" class="form-control" id="urlFondo" name="urlFondo" [(ngModel)]="persona.urlFondo"  required>
                        <input type="file" accept =".png, .jpg, .jpeg" multiple (change)="subirImagenFondo($event)">
                    </div>
                    </div>
                <div class="mb-3">
                <button class="btn btn-secondary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>


