<div class="contenedorEncabezado container">
  <img 
  class="fondo"
  [src]="persona.urlFondo">
</div>
  <div class="row">
    <div>
      <img 
      class="avatar"
      [src]= "persona.urlAvatar">
    </div>
    <div class="nombre">
      <h2 data-aos="fade-left" data-aos-delay="50">
        {{ persona?.nombre }} {{ persona?.apellido }}
      </h2>
      <div class="icon">
      <a  href="/editar-encabezado/{{persona.idPer}}" *ngIf="isLogged" title="editar">
        <i class="fa-solid fa-pen" style="color: #3e4a5e"></i>
      </a>
    </div>
    </div>
    <p data-aos="fade-left" data-aos-delay="100">
      {{ persona?.titulo }}
    </p>
  </div>

