.contenedorHabilidades {
    background-color:transparent;
    display: flex;
    border-radius: 10px!important;
    border-color: rgb(122, 139, 156);
    border-width: 2px;
    border-style: solid;
    height: 100%;
    margin-top: 5px;
    align-items: center;
}

.tabla{
    width: 100%;
    align-items: center;
}

li {
    list-style-type:none
}

span {
    /* display: table-row; */
    vertical-align: middle;
    align-items:center;
}

.icon {
    display: flex;
    /* position: relative; */
    margin-right: 10px;
    align-items:center;
    /* vertical-align: middle; */
    justify-content:flex-end;
  }

.habilidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
} 

.icon-plus {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
  }