.contenedorHabilidades {
    background-color:transparent;
    display: flex;
    border-radius: 10px!important;
    border-color: rgb(122, 139, 156);
    border-width: 2px;
    border-style: solid;
    height: 100%;
    margin-top: 5px;
    align-items: center;
}

.tabla{
    width: 100%;
}

li {
    list-style-type:none
}

.icon {
    display: flex;
    margin-right: 10px;
  }

  .habilidades {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 