.contenedorDatosPersonales {
    background-color:transparent;
    display: flex;
    border-radius: 0 0 10px 10px !important;
    border-color: transparent rgb(122, 139, 156) rgb(122, 139, 156);
    border-width: 2px;
    border-style: solid;
    height: 150px;
    margin-top: -2px;
    flex-wrap: wrap;
}

p {
    margin: 0;
    text-align: justify;
    padding-top: 15px;
}

.icon-plus {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 10px;
  }

  .icon {
    display: flex;
    /* justify-content:space-between; */
    align-items:right;
    /* margin-right: 10px; */
    vertical-align: middle;
    
  }

  .datosPersonales {
    margin-left: auto;
    display: block;
    align-items:right;
    flex-wrap: wrap;
  }

  a{
    margin-left: auto;
  }
