<div class="contenedorIniciarSesion container">
  <div class="row my-auto px-4 d-flex">
    <h3 class="pt-3">Iniciar Sesión</h3>
    <p class="text-black-50 mb-3">Por favor, ingresar usuario y clave</p>
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="mb-3">
        <label for="nombreUsuario" class="form-label">Usuario</label>
        <input
          type="email"
          class="form-control"
          id="nombreUsuario"
          name = "nombreUsuario"
          [(ngModel)]="nombreUsuario" required/>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name = "password"
          [(ngModel)]="password" required/>
      </div>
      <div class="mb-3">
      <button type="submit" class="btn btn-primary">Iniciar</button>
      </div>
    </form>
  </div>
</div>
