<div class="contenedorEducacion container">
  <div class="row my-auto px-4 d-flex">
    <div class="education-section">
      <div class="icon-plus">
        <h3 class="pt-3">Educación</h3>
        <a class="nav-link" href="#" *ngIf="isLogged" title="agregar"
          ><i
            class="icon-plus fa-solid fa-circle-plus"
            style="color: #3e4a5e"
          ></i
        ></a>
      </div>
      <div class="timeline">
        <li class="listaCursos" *ngFor="let educacion of educacionList">
          <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <img
                    class="card-img"
                    [src]="educacion.estaEdu.url_logoEstablecimiento"
                    alt="{{educacion.estaEdu.alt_logoEstablecimiento}}"
                  />
                </div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-12">
                      <div class="educacion">
                        <div class="h5 mb-3">{{educacion.carrera}}</div>
                          <div class="icon text-end">
                            <a class="nav-link" href="#" *ngIf="isLogged" title="editar"
                              ><i
                                class="fa-solid fa-pen"
                                style="color: #3e4a5e"
                              ></i
                            ></a>
                            <a class="nav-link" href="#" *ngIf="isLogged" title="borrar"
                              ><i
                                class="fa-solid fa-trash-can"
                                style="color: #3e4a5e"
                              ></i
                            ></a>
                          </div>
                      </div>
                  </div>
                    <div class="col-12">
                      <span class="text-muted h6">
                        {{educacion.estaEdu.establecimientoEdu}}
                        <!-- {{educacion.institucion}} -->
                      </span>
                    </div>
                    <div class="col-12">
                      <div class="text-muted text-small mt-2 mb-2">
                        <time>{{educacion.periodo}}</time>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="text-muted text-small mt-2 mb-2">
                        <!-- <ul *ngFor="let cursos of cursosList"> -->
                        <!-- <li>{{educacion.cursos}}</li>  -->
                        <!-- </ul> -->
                        <p *ngIf="educacion?.cursos">
                          <app-cursos></app-cursos>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</div>
