<div class="contenedorAcercaDe container">
    <div class="row my-auto px-4 d-flex">
        <h3 class="pt-3">Acerca de mi</h3>
        <p>
        Soy ingeniera Industrial recibida de la Universidad de Buenos Aires. Viví en Santa Teresita, Partido de la Costa hasta los 18 años cuando me mudé a Buenos Aires para estudiar y mi deseo es volver a radicarme en la Costa Atlántica.
        <br>
        Una parte de mi experiencia se desarrolló en procesos productivos, el aseguramiento de la calidad y el seguimiento de proyectos dentro de la industria automotriz.
        <br>
        Actualmente me encuentro ejerciendo las tareas de construcción y seguimiento de tableros de control, coordinación general de proyectos e implementación de la norma de calidad ISO 9001:2015, como Jefa del Departamento de Calidad e Información dentro de la Dirección de Planificación Técnica de la empresa AySA S.A.
        <br>
        En 2022 obtuve mi certificación como Full Stack Developer Jr con el programa #YoProgramo de Argentina Programa. 
        </p>
    </div>
</div>
