.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 10px;
    margin: 7px;
  }

  .btn-primary-outline:hover{
    background-color: #3e4a5e;
  }
